@model IEnumerable<proyecto_iic2113.Models.Conference>

@{
    ViewData["Title"] = "Default";
}

    <h1 class="text-center">Index</h1>

@foreach (var item in Model)
{
<div class="card border-dark mb-3">
    <div class="card-header text-white bg-dark">
        <div class="row justify-content-between">
            <div> <a> @Html.DisplayFor(modelItem => item.DateTime) </a> </div>
            <div><a> Conference </a></div>
            <div> <a> @Html.DisplayFor(modelItem => item.Venue.Name) </a> </div>
        </div>
    </div>

    <div class="card-body text-info">
        <div class="row justify-content-center">
            <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
        </div>
        <blockquote class="blockquote mb-0">
            <div class="row justify-content-center">
                <p> @Html.DisplayFor(modelItem => item.Description) </p>
            </div>
        </blockquote>
    </div>
</div>

    <br />

}
