@model IEnumerable<proyecto_iic2113.Models.Talk>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">

        <div class="col">
            <h1 class="display-4">Talks</h1>
        </div>
    </div>
    <hr />

    <partial name="~/Views/Shared/Events.cshtml" />

</div>

