@model proyecto_iic2113.Models.Franchise

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">@Html.DisplayFor(model => model.Name) Dashboard</h1>
        </div>
    </div>

    <div class="container">
        <hr>

        <br />

        <h3 class="text-muted">Average Review</h3>
        <p class="text-small">
            Average Review is based on the average review of its events.
        </p>

        <p>
           Average Rating: @ViewBag.averageRating
        </p>

        <h1 class="display-4">Conferences Reviews</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Conference</th>
                    <th>Average Review</th>
                </tr>
            </thead>
            <tbody>
                @for (var i=0; i<ViewBag.conferences.Count; i++) {
                    
                    <tr>
                        <td scope="row">@ViewBag.conferences[i].Name</td>
                        <td>@ViewBag.conferencesAverageReviews[i]</td>
                    </tr>
                
                }
            </tbody>
        </table>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}