@model IEnumerable<proyecto_iic2113.Models.Chat>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">

        <div class="col">
            <h1 class="display-4">Chats</h1>
        </div>
        <div class="col-end">
            <a asp-action="Create" class="text-primary"><i class="fas fa-plus fa-4x"></i></a>
        </div>
    </div>
    <hr />

    <partial name="~/Views/Shared/Events.cshtml" />

</div>

