@model proyecto_iic2113.Models.AttendanceView
@{
    ViewData["Title"] = "Index";
}


<h3 class="text-muted">Conferences Itinerary</h3>
@foreach (var conference in ViewBag.conferences)
            {
                
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Conference" asp-route-id="@conference.ConferenceId">@conference.Name</a>
                </li>
            }
